.title{
    text-align: center;
    font-weight: 600;
}

.inputContainer{
    display: flex;
    gap: 10px;
}

.infoText{
    font-size: 12px;
    font-weight: 600;
    margin-top: 25px;
}

.descriptionInput{
    margin-bottom: 25px;
}

.subTitle{
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}